[Desktop Entry]
Encoding=UTF-8
Name=Link to Sabre Sword Poland · Free photo on Pixabay
Type=Link
URL=https://pixabay.com/en/sabre-sword-poland-history-king-1859774/
Icon=text-html
