[Desktop Entry]
Encoding=UTF-8
Name=Link to Seamless Tile Background · Free image on Pixabay
Type=Link
URL=https://pixabay.com/en/seamless-tile-background-abstract-1315283/
Icon=text-html
